# Unity生成ファイル（コミット不要）
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/
.vs/
*.csproj
*.sln
*.user
*.pidb
*.unityproj
*.suo
*.tmp
*.DS_Store
Thumbs.db

# Crashログ
crashlytics-build.properties

# Visual Studio / Rider キャッシュ
.idea/
.vscode/
*.code-workspace
